
html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; /* Pode alterar conforme necessário */
    font-style: normal;
    font-optical-sizing: auto;
    color: rgb(41, 41, 41);

  }

.app-global {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
  }

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 5px;
    margin-bottom: 25px;
}

button {
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 200px;
    height: 40px;
  }

button:hover {
    opacity: 0.8;
}

footer {
    margin: 20px;
}

.footer__signature {
    font-size: small;
}

.footer__signature, .header__signature {
    display: flex;
    justify-content: center;
}

#card {
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 14px; 
    margin: 10px 0px 10px 0px; 
    border: 1px solid #ddd;
    transition: transform 0.2s, box-shadow 0.2s;
    list-style: none;
    width: 85%; 
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999; /* Para garantir que o loader fique por cima de todo o conteúdo */
  }
  
  .loader {
    border: 8px solid #f3f3f3; /* Cor de fundo */
    border-top: 8px solid #3498db; /* Cor do spinner */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (max-width: 320px) {
  .auth-form-container {
    padding: 15px;
  }
}

  @media (min-width: 768px) {
  .auth-form-container {
    max-width: 700px;
    padding: 30px;
  }

  .auth-form-container legend {
    font-size: 1.8em;
  }

  .auth-form-container input[type="email"],
  .auth-form-container input[type="password"],
  .auth-form-container button[type="submit"] {
    padding: 15px;
    font-size: 1.1em;
  }
}

@media (min-width: 1024px) {
  .auth-form-container {
    max-width: 900px; /* Aumenta ainda mais o tamanho para telas grandes */
    padding: 40px; /* Mais padding para espaçamento extra */
  }

  .auth-form-container legend {
    font-size: 2em;
  }

  .auth-form-container input[type="email"],
  .auth-form-container input[type="password"],
  .auth-form-container button[type="submit"] {
    padding: 16px;
    font-size: 1.3em;
  }
}