.waiter-public-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}

.waiter-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-management-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.waiter-avatar {
    background-color: #e4d8fc;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

.waiter-name {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0px;
}

.waiter-location {
    font-size: 1rem;
    margin-top: 15px;
    display: flex;
    color: #6c6c6c;
}

.btn-call-waiter {
    background-color: #6750a4;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-call-waiter:disabled {
    background-color: #908e96;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-toggle-service {
    background-color: #3b8d5d;
    color: #fff;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.btn-toggle-service.requested {
    background-color: #404040;
    color: #fff;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.btn-toggle-service.initiated {
    background-color: #9c2f53;
    color: #fff;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.customer-name-selection {
    background-color: white;
    display: grid;
    grid-template-columns: min-content;
    margin: 12px;
    padding: 25px;
    border-radius: 5px;
    animation: fade-in 0.5s ease forwards;
}

.customer-name-selection label {
    margin: 15px 0px;
    text-wrap: nowrap;
    font-weight: 600;
}

.customer-name-selection input {
    margin: 10px 0px 15px 0px;
    padding-left: 10px;
    width:92%;
    height: 30px;
    border-radius: 5px;
    border-color: rgb(188, 188, 188);
}

.customer-name-selection button {
    width:100%;
    color: white;
    background-color: #3b8d5d;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}